*.swp
*.pyc
*.pyo
*~
*.o

Makefile
Makefile.in

/build-aux/

/autom4te.cache/

/config.h
/config.log
/configure
/config.status

/contrib/jsmn/.deps/

/tags

/aclocal.m4
/stamp-h1
/autoscan.log
/libtool

/collectd/.deps/

/lib/.deps/
/lib/libvmon.a

/src/.deps/
/src/vmon
/vmon-*.tar.gz

/vmon.spec
/bindings/python/vmon.valgrind.log

/vmon-*/

/tests/.deps/
